
.contributors--container{
    font-weight: 600;
    font-size: 1.4em;
    border: 1px solid white;
    margin: 0 1em;
    border-radius: 5px;
}

@media only screen and (min-device-width:320px) and (max-device-width:767px) and (orientation: portrait) {

    .contributors-h2 {
        color: white;
        border-radius: 3px;
        display: block;
        padding: 1em 0 1em 1em
    }
    .user-pic {
        border-radius: 50%;
        height: 3em;
        position: relative;
    }
    .text-user--info{
        color: white;
    }
 

}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation:landscape) {
 

    .contributors-h2 {
        color: #0a856e;
        border-radius: 3px;
        display: block;
        padding: 1em 0 1em 1em
    }


    .user-pic {
        border-radius: 50%;
        height: 3em;
        position: relative;
    }

    .text-user--info{
        color: black;
    }


}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
  
    .contributors-h2 {
        color: white;
        border-radius: 3px;
        display: block;
        padding: 1em 0 1em 1em
    }

    .user-pic {
        border-radius: 50%;
        height: 3em;
        position: relative;
    }
    .text-user--info{
        color: white;
    }


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .contributors-h2 {
        color: white;
        border-radius: 3px;
        display: block;
        padding: 1em 0 1em 1em
    }

    .user-pic {
        border-radius: 50%;
        height: 3em;
        position: relative;
        height: 150px;
    }
    .text-user--info{
        color: black;
    }
}

@media (min-width:1024px) {
 
    .contributors-h2 {
        color: white;
        border-radius: 3px;
        display: block;
        padding: 1em 0 1em 1em
    }

    .user-pic {
        border-radius: 50%;
        height: 3em;
        height: 100px;
    }
    .text-user--info{
        color: white;
    }

}